
.ipynb_checkpoints/Pipelines in Python-checkpoint.ipynb
.ipynb_checkpoints/Python Pipeline Building-checkpoint.ipynb
loan_data_train.csv
mypipes.py
loan_data_test.csv
__pycache__/mypipes.cpython-310.pyc
Python Pipeline Building.ipynb
python pipeline example.ipynb
.ipynb_checkpoints/python pipeline example-checkpoint.ipynb
